<turbo-frame id="edit-user-frame">
  <% if logged_in? %>
    <div class="row justify-content-end" id="edit-user-form-div">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <%= form_with model: current_user, url: update_user_url, method: 'patch' do |f| %>
          <div class="card">
            <div class="card-header fw-bold">
              Edit Advent of Code user ID
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="text-secondary">
                  You can find your AoC user ID as follows:
                  <ol>
                    <li>
                      Go to <a href="https://adventofcode.com" target="_blank">adventofcode.com</a> and log in.
                    </li>
                    <li>
                      Go to your settings <a href="https://adventofcode.com/<%= page_year %>/settings" target="_blank">here.</a>
                    </li>
                    <li>
                      Your account ID is the number where it says "(anonymous user #000)".
                      Copy this number into the box below.
                    </li>
                  </ol>
                </span>
              </li>
              <li class="list-group-item">
                <%= f.label :aoc_user_id, "User ID" %>
                <%= f.text_field :aoc_user_id %>
              </li>
            </ul>
            <div class="card-footer">
              <%= f.submit %>
              <button onclick="document.getElementById('edit-user-form-div').remove();">
                Close
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <%end %>
</turbo-frame>
