<h4>Today's stats <span class="fs-5 text-secondary fw-normal">day <%= day.number %></span></h4>

<div class="container-fluid">
  <div class="row row-cols-3 gx-1 mb-0">
    <div class="col">
      <div class="card bg-gold text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= count_gold(day) %>
        </span>
        Gold
      </div>
    </div>

    <div class="col">
      <div class="card bg-silver text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= count_silver(day) %>
        </span>
        Silver
      </div>
    </div>

    <div class="col">
      <div class="card text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= count_incomplete(day) %>
        </span>
        Incomplete
      </div>
    </div>
  </div>
</div>
<hr>
<h6>Today's fastest</h6>
<% if day.stars.any? %>
  <% top_speeds(day).each.with_index do |p, i| %>
    <%= i + 1 %>

    <img src="<%= p.photo_url %>" class="inline-avatar">
    <%= p.username %>

    <%= rank_for_participant(day, p) %>

    <%= time_for_participant(day, p) %>
  <% end %>
<% else %>
  <p class="text-center text-secondary">
    No one has completed this puzzle yet!
  </p>
<% end %>
