<table class="table table-light table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Time Taken</th>
    </tr>
  </thead>
  <tbody>
    <% top_speeds(day, 1, count).each.with_index do |star, i| %>
      <tr>
        <td><strong><%= i + 1 %></strong></td>
        <td>
            <%= render star.participant %>
        </td>
        <td><%= time_taken(day, star) %></td>
      </tr>
    <% end %>
    <% if count_silver_stars(day) > count %>
      <tr>
        <td colspan="3" class="text-secondary text-center">
          <%= link_to year_day_url(day.year.number, day.number), class: 'link-secondary' do %>
            Full leaderboard (+<%= count_silver_stars(day) - count %>)
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
