<h4>Stats</h4>
  <%= render 'years/stats' %>
<hr>
<h4>Scoreboard</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Coal.</th>
      <th>Name</th>
      <th>Score</th>
      <th>Gold</th>
      <th>Silver</th>
    </tr>
  </thead>
  <tbody>
    <% @year.participants.order(score: :desc).each.with_index do |p, i| %>
      <tr>
        <td><strong><%= i + 1 %></strong></td>
        <td style="background-color: <%= p.coalition.color %>; text-align: center;">
          <%= image_tag p.coalition.image_url, style: "min-width: 50%; max-width: 40px;", alt: p.coalition.name %>
        </td>
        <td>
            <%= render 'participants/full', participant: p %>
        </td>
        <td><%= p.score %></td>
        <td><%= p.gold_stars.count %></td>
        <td><%= p.silver_stars.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
