<div class="container-fluid">
  <div class="row row-cols-3 gx-1 mb-0">
    <div class="col">
      <div class="card text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= @year.participants.count %>
        </span>
        <%= "Participant".pluralize(@year.participants.count) %>
      </div>
    </div>

    <div class="col">
      <div class="card text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= @year.stars.count %>
        </span>
        <%= "Star".pluralize(@year.stars.count) %>
      </div>
    </div>

    <div class="col">
      <div class="card text-center align-middle pb-2 h-100">
        <span class="fs-2">
          <%= count_completed_days(@year) %>
        </span>
        <%= "Day".pluralize(count_completed_days(@year)) %> completed
      </div>
    </div>
  </div>
</div>
