<nav>
  <div class="navbar">
    <div class="container">
      <span class="navbar-brand">
        <%= link_to root_url, class: 'navbar-brand' do %>
          Codam <span class="d-none d-md-inline">Advent of Code</span> Leaderboard
        <% end %>

        <span class="badge bg-secondary">
          <%# This is a crime against mvc %>
          <% if Year.find_by(number: page_year - 1) %>
            <%= link_to year_url(page_year - 1), class: 'link-underline link-underline-opacity-0' do %>
              <%= bootstrap_icon 'caret-left' %>
            <% end %>
          <% end %>

          <%= page_year %>

          <% if Year.find_by(number: page_year + 1) %>
            <%= link_to year_url(page_year + 1), class: 'link-underline link-underline-opacity-0' do %>
              <%= bootstrap_icon 'caret-right' %>
            <% end %>
          <% end %>
        </span>
      </span>

      <span class="d-flex navbar-text">
        <% if logged_in? %>
          <span class="me-2 navbar-avatar">
            <% if current_user.photo_url %>
              <img src="<%= current_user.photo_url %>" class="rounded inline-avatar">
            <% end %>
            <%= current_user.username %>
            <%= link_to edit_user_url, 'data-turbo-frame': 'edit-user-frame', class: 'ms-2' do %>
              <%= bootstrap_icon 'gear-fill' %>
            <% end %>
          </span>
          <%= form_tag('/logout', method: 'delete', data: {turbo: false}) do %>
            <button type='submit' class="btn btn-outline-danger">Log out</button>
          <% end %>
        <% else %>
          <%= form_tag('/auth/marvin', method: 'post', data: {turbo: false}) do %>
            <button type='submit' class="btn btn-outline-primary">Log in with 42</button>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</nav>
